.devel {
	border: 1px dashed pink;
}

.arapey {
	font-family: 'Arapey', serif;
}

.didone {
	font-family: 'Antic Didone', serif;
}
.header {
	background-color: #B2C5BB;
	color: white;
	text-align: center;
	padding: 1rem 0 0 0;
	width: 100vw;
	margin: 0 auto;
	display: block;
	h1 {
		margin: 2rem;
		font-size: 7rem;
		font-weight: 900;
	}
	.navbar {
		color: black;
		padding: 1rem;
		.link {
			width: 15rem;
			margin-top: 1rem;
			a {
				&:link {
					text-decoration: none;
				}
				&:active {
					.link--div {
						color: white;
						background-color: #8C1C17;
						border: 3px solid black;
					}
				}
				.link--div {
					weight: bold;
					font-size: 1.5rem;
				}
				&:hover {
					.link--div {
						background-color: #23354D;
						color: white;
					}
				}
				.link--div {
					border: 1px solid black;
				}
			}
		}
	}
}
.feast {
	background-image: url('../../src/images/thanksgiving-rockwell.jpg');
}
.append-point {
	background-size: cover;
	background-position: center 0px;
	background-repeat: no-repeat;
	padding-top: 4rem;
	min-height: 100vh;
	width: 100vw;
	display: block;
	.buildScreen {
}
	.rules, .aboutUs {
		width: 90%;
	    margin: 30rem auto 0;
	    padding: 2rem;
	    border-radius: 2rem;
	    color: whitesmoke;
	    background: rgba(0,0,0,0.5);
	}
	.buildScreen, .fightScreen, .victoryScreen {
		width: 90%;
	    margin: 1rem auto 0;
	    padding: 2rem;
	    border-radius: 2rem;
	    color: whitesmoke;
	    background: rgba(0,0,0,0.7);
	    .fight--button {
	    	display: block;
		    margin: 3rem auto;
		    height: 6rem;
		    width: 12rem;
		    font-size: 3rem;
		    border-radius: 1.5rem;
	    }
	    img {
	    	display: block;
			height: 200px;
			width: 200px;
			padding: 0;
			margin: 2rem auto;
			border-radius: 50%;
			border: 3px solid whitesmoke;
	    }
	    label {
	    	font-size: 3rem;
	    }
	    .choose--div {
	    	text-align: center;
			.choose--select {
				display: block;
				width: 20rem;
				margin: 1rem auto;
			}
			.choose--button, {
				display: block;
				margin: 3rem auto;
			}
	    }
	    .results {
	    	font-size: 2rem;
	    	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	    	.fight--grandpa, .fight--family {
	    		margin-top: 2rem;
	    	}
		    .weap {
		    	color: #f55;
		    	font-size: 3rem;
		    }
			.remark {
				color: whitesmoke;
				font-size: 3rem;
			}
			.damage {
				color: cornflowerblue;
				font-size: 3rem;
			}
	    }
	}
}
.active {
	color: white;
	background-color: #391815;
}
.victory {
	text-align: center;
}
.backStory {
	width: 90%;
    margin: 1rem auto 0;
    padding: 2rem;
    border-radius: 2rem;
    color: whitesmoke;
    background: rgba(0,0,0,0.7);
}