.arapey {
	font-family: 'Arapey', serif;
}

.didone {
	font-family: 'Antic Didone', serif;
}

header {
	background-color: #B2C5BB;
	color: white;
	text-align: center;
	padding: 1rem 0 0 0;
	h1 {
		margin: 2rem;
		font-weight: 900;
	}
	.navbar {
		color: black;
		padding: 1rem;
		.link {
			width: 15rem;
			margin-top: 1rem;
			a {
				&:link {
					text-decoration: none;
				}
				&:active {
					.link--div {
						color: white;
						background-color: #8C1C17;
						border: 3px solid black;
					}
				}
				.link--div {
					weight: bold;
					font-size: 1.5rem;
				}
				&:hover {
					.link--div {
						background-color: #23354D;
						color: white;
					}
				}
				.link--div {
					border: 1px solid black;
				}
			}
		}
	}
}

.buildScreen {
	min-height: 100vh;
	background: url('../../src/images/thanksgiving-rockwell.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}

.active {
	color: white;
	background-color: #391815;
}