div.jumbotron.aboutUs
	p.aboutUs--content.arapey  Dave Harms, Alex Horton, and Jamey McAuliffe have been working on this project for somewhere between 4 days to 2 years. Perhaps this sort of family conflict game is a cathartic experience… or just a class requirement? We’ll never know!
