div.buildScreen.arapey
	div.choose--div
		h2= message
		label(for='choose') Choose Family Member
		select#choose.choose--select(name='famMember')
			each val, index in family
				option(value=index)= val
		button#choose-btn.btn.choose--button Pick A Winner!