div.row.fight--container.arapey
	div.col-xs-6.devel.fight--grandpa
		p= 'Grandpa attacks with ' + results.gweap
		p= results.gremark
	div.col-xs-6.devel.fight--family
		p= familyMember + ' attacks with ' + results.famweap
		p= results.famremark