div.victoryScreen.victory
	h1.arapey Grandpa Wins, I mean I really really Win!
	p.arapey Grandpa celebrates this hyuge victory.
	p.arapey I win so much.
	p.arapey I get tired of winning
	p.arapey (Grandpa passes out)