header.didone
	h1 Family Feud
	nav.navbar.navbar-default
		ul.list-inline
			li#rules.link 
				a(href='#')
					div.link--div Rules
			li#start.link 
				a(href='#')
					div.link--div Start Game
			li#about.link 
				a(href='#')
					div.link--div About US