div.jumbotron.rules
	p.rules--content.arapey  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim sapiente voluptatem iste ipsa odio, sint doloremque quibusdam, repellendus consectetur deleniti possimus nesciunt pariatur quae dolores quidem id, rerum eos nulla.
	p.rules--content.arapey  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis neque aut sint aliquid quaerat delectus dolorum quas, pariatur voluptates qui itaque incidunt, asperiores, non a totam. Aut ullam illo esse.
	p.rules--content.arapey  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, dolores vitae culpa nemo, ratione illo odit porro, animi sapiente ea repellendus dignissimos deserunt. Nesciunt tempora ipsum deserunt? Amet, quibusdam. Repellendus?