div.jumbotron.rules
	p.rules--content.arapey  Family is everything, and everything includes combat. The Johnson Family has reached Christmas dinner without any major incidents, but finally, things have come to a head. Grandpa has been been increasingly hard to ignore, as his side-comments and general rudeness have put a real strain on the Christmas celebrations. The rest of the family has thrown down the proverbial gauntlet, and now it’s time for battle. 
	p.rules--content.arapey  You get to choose a family member to fight Grandpa, but even though he’s old, he won’t go down without a whiskey-fueled fight! If beats one family member, you’ve got five others to choose from. There’s nothing that says ‘Christmas in America’ like a Battle Royale!
	